<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wzy.test.dao.UsersMapper">
  <resultMap id="BaseResultMap" type="org.wzy.test.Users">
    <id column="userId" jdbcType="BIGINT" property="userId" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Base_Column_List">
    userId, userName, password
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
  	select * from users
  </select>
</mapper>